* {
  margin: 0px;
  padding: 0px;
}
@font-face {
  font-family: 'HelveticaNowDisplay';
  src: url('/font/HelveticaNowDisplay-Regular.woff') format('woff');
 
}

.mainDiv {
  /* background-image: radial-gradient(
    circle at center,
    rgba(58, 61, 70, 0.996078431372549) 0%,
    rgba(58, 61, 70, 0.9960808321173228) 0%,
    rgba(47, 48, 55, 0.9975361213419526) 40%,
    rgba(17, 17, 17, 0.9999999999999999) 100%
  ); */
  background-image: radial-gradient(
  circle at bottom center,
     rgba(58,61,70,0.996078431372549) 0%,
     rgba(62, 65, 73, 0.996) 0%,
     rgba(21, 21, 21, 0.998) 40%,
     rgb(0, 0, 0) 100%
     );
     /* padding-bottom: 50px; */
}
.homepage {
  /* background-image: url("/assets/backround2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  background-image: url("/assets/hero-backround.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 25%;
  padding: 50px 60px;
  padding-bottom: 0 !important;
}

/* navbar started */
.navMain {
}
.navContant {
  border-radius: 36px;
  filter: drop-shadow(-6.947px 7.193px 4px rgba(0, 0, 0, 0.86));
  /* opacity: 0.071; */
  padding: 0px 30px;
  background-color: #1a1a1a;
}
.navItem p {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  font-family: "Montserrat";
  padding: 22px 0px;
}
.brandLogo img {
  height: 60px;
  margin-right: 30px;
  position: relative;
  top: 5px;
}
/* navbar ended */
.homeMain {
  margin-top: 80px;
}
.homeMain h3 {
  font-size: 32px;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: center;
}
.mierideLogo img {
  height: 60px;
  margin: 25px 0px;
}
.homeContent {
  margin-top: 30px !important;
}
.homeContent p {
  padding: 50px 50px 0px 0px;
  font-size: 15px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Montserrat";
  text-align: justify;
  margin-bottom: 0;
}
.homeContent h2{
  font-size: 27px;
color: #bbfc00;
font-weight: 700;
font-family: "Montserrat";
margin-bottom: 0;
margin-top: 42px;
}
.app-store-img3 , .google-img3{
  margin-top: 28px !important;
    width: 133px;
}
.homeCardBox {
  
  border: 1px solid whitesmoke;
  border-bottom: none;
  padding: 40px 20px;
  border-radius: 24px;
}
.homeCardBox h2 {
  font-size: 35px;
  text-transform: uppercase;
  color: #cfff13;
  font-weight: 500;
  font-family: "Helvetica Neue";
}
.homeCardBox p {
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Montserrat";
  margin: 20px 0px;
}
.homeCardBox button {
  width: 110px;
  height: 35px;
  border-radius: 22px;
  filter: drop-shadow(-6.947px 7.193px 4px rgba(0, 0, 0, 0.86));
  background-color: #ceff13;
  border: none;
  font-size: 14px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
}
.miePayLogo {
  z-index: 2;
}
.miePayLogo-outer{
  bottom: 3%;
  right: 5%;
}
.miePayLogo img{
  height: 80px;
  width: 80px;
  border-radius: 20px;
}
.blogsMain {
  margin-top: 60px;
}
.blogsMain h3 {
  font-size: 30px;
  letter-spacing: -1px;
  color: #cfff13;
  font-weight: 700;
  font-family: "Montserrat";
}
.blogsMain p {
  font-size: 35px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  margin: 30px 0px;
}
.blogsMain span {
  font-size: 21px;
  letter-spacing: -1px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Montserrat";
}
.blogsMain button {
  margin-top: 30px;
  width: 290px;
  border-radius: 36px;
  filter: drop-shadow(-6.947px 7.193px 4px rgba(0, 0, 0, 0.86));
  background-color: #cfff13;
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
  border: none;
  height: 50px;
}
.aboutHeroImg img {
  height: 350px;
  width: 100%;
  border-radius: 30px;
}
.categoryItem {
  border-radius: 32px;
  filter: drop-shadow(-6.947px 7.193px 4px rgba(0, 0, 0, 0.86));
  background-color: #454547;
  margin-right: 30px;
}
.categoryItem p {
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Montserrat";
  padding: 10px 30px;
  margin: 0px;
}
.activeItem {
  background-color: #ceff13 !important;
}
.activeItem p {
  color: #000 !important;
}
.blogCart {
  border: 1px solid gray;
  margin-bottom: 20px;
}
.blogCart img {
  width: 100%;
  height: 220px;
}
.blogCart p {
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  margin: 0px !important;
}
.blogCart span {
  font-size: 15px;
  letter-spacing: 0px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Montserrat";
}
.contactHeaderRow {
  margin: 60px 0px !important;
}
.contactHeaderRow h5 {
  font-size: 35px;
  letter-spacing: 0px;
  color: #cfff13;
  font-weight: 800;
  font-family: "Montserrat";
}
.contactHeaderRow h3 {
  font-size: 70px;
  letter-spacing: 0px;
  color: #e4e4e6;
  font-weight: 200;
  font-family: "Montserrat";
}
.contactBox {
  padding: 25px;
  border-radius: 25px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contactBox img {
  height: 40px;
  filter: brightness(0) invert(1);
}
.contactBox p {
  text-align: center;
  color: #e4e4e6;
  font-size: 20px;
  margin: 10px 0px;
  font-weight: 300;
}
.contactBox h4 {
  text-align: center;
  color: #ceff13;
  margin-top: -5px;
  letter-spacing: 0.5px;
  font-weight: 700;
}
.contactForm {
  padding: 40px 70px;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0px 20px;
}
.contactForm input {
  background-color: transparent;
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: "Montserrat";
  color: white;
}
.contactForm button {
  margin: 30px 0px;
  width: 290px;
  border-radius: 12px;
  filter: drop-shadow(-6.947px 7.193px 4px rgba(0, 0, 0, 0.86));
  background-color: #cfff13;
  font-size: 20px;
  color: #000000;
  font-weight: 700;
  font-family: "Montserrat";
  border: none;
  height: 50px;
}
.contactMessageDiv {
  width: 500px;
}
.contactMessageDiv h5 {
  color: #ceff13;
  font-size: 40px;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-family: "Montserrat";
}
.contactMessageDiv h3 {
  color: #fff;
  margin: 20px 0px;
  font-size: 70px;
  letter-spacing: 2px;
  font-weight: 300;
  font-family: "Montserrat";
}
.contactMessageDiv p {
  color: #fff;
  font-size: 20px;

  font-family: "Montserrat";
  font-weight: 300;
}
.miePaybutton {
  background-color: #ffd300;
  text-align: center;
  border-radius: 20px;
  height: 80px;
  width: 80px;
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 700;
}
.robot {
  margin-top: 30px;
  background-color: #333437;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.robot img {
  height: 50px;
}

/* responsives design */
.bar img {
  height: 25px;
  filter: brightness(0) invert(1);
}
@media (max-width: 375px) {
  .homepage {
    padding: 10px 15px !important;
  }
}
@media (max-width: 500px) {
  .homepage {
    padding: 20px 30px;
  }
  .homeMain {
    margin-top: 30px;
  }
  .homeMain h3 {
    font-size: 18px;
    letter-spacing: 5px;
  }
  .mierideLogo img {
    height: 30px;
    margin: 15px 0px;
  }
  .homeContent p {
    padding: 0px;
    font-size: 12px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Montserrat";
    text-align: justify;
  }
  .homeContent button {
    width: 100%;
    height: 45px;
    border-radius: 25px;
    filter: drop-shadow(-6.947px 7.193px 4px rgba(0, 0, 0, 0.86));
    background-color: #ceff13;
    font-size: 16px;
    color: #000000;
    font-weight: 700;
    border: none;
    font-family: "Montserrat";
  }
  .homeCardBox h2 {
    font-size: 20px;
  }
  .homeCardBox p {
    font-size: 12px;
    margin: 5px 0px;
  }
  .homeCardBox {
    margin: 20px 0px;
  }
  .miePaybutton {
    border-radius: 15px;
    height: 60px;
    width: 60px;
    font-size: 12px;
  }
  .robot {
    margin-top: 0px;
    background-color: #333437;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: 20px;
  }
  .robot img {
    height: 35px;
  }
  /* .socialMediaDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly !important;
    width: 100%;
    padding: 15px 20px 0px 20px;
    margin-top: 20px;
  } */
  .blogsMain {
    margin-top: 30px;
  }
  .blogsMain h3 {
    font-size: 20px;
    letter-spacing: 0px;
  }
  .blogsMain p {
    font-size: 15px;
    margin: 8px 0px;
  }
  .blogsMain span {
    font-size: 12px;
    letter-spacing: 0px;
  }
  .blogsMain button {
    margin-top: 8px;
    width: 100px;
    border-radius: 24px;
    font-size: 15px;
    height: 35px;
  }
  .aboutHeroImg img {
    border-radius: 6px;
  }
  .categoryItem {
    border-radius: 16px;

    margin-right: 15px;
  }
  .categoryItem p {
    font-size: 12px;
    padding: 5px 10px;
    margin: 0px;
  }
  .blogCart {
    border: 1px solid gray;
    margin-bottom: 12px;
  }
  .blogCart img {
    width: 100%;
    height: 100px;
  }
  .blogCart p {
    font-size: 8px;
    margin: 0px !important;
  }
  .blogCart span {
    font-size: 8px;
    line-height: 0px !important;
  }
  .contactHeaderRow {
    margin: 20px 0px !important;
  }
  .contactHeaderRow h5 {
    font-size: 18px;
    text-align: center;
  }
  .contactHeaderRow h3 {
    text-align: center;
    font-size: 30px;
  }
  .contactBox {
    padding: 6px 8px;
    border-radius: 12px;
    margin-bottom: 20px !important;
  }
  .contactBox img {
    height: 15px;
    filter: brightness(0) invert(1);
  }
  .contactBox p {
    font-size: 10px;
    margin: 5px 0px;
    font-weight: 300;
  }
  .contactBox h4 {
    margin-top: 5px;
    font-size: 10px !important;
  }
  .contactMessageDiv {
    width: 100%;
  }
  .contactMessageDiv h5 {
    font-size: 20px;
    letter-spacing: 0px;
    text-align: center;
  }
  .contactMessageDiv h3 {
    color: #fff;
    margin: 10px 0px;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
  }
  .contactMessageDiv p {
    font-size: 12px;
    text-align: center;
  }
  .contactForm {
    padding: 10px 20px;
    border-radius: 20px;
    margin: 0px 10px;
  }
  .contactForm input {
    background-color: transparent;
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    padding: 5px;
    margin-bottom: 15px;
    font-size: 12px;
  }
  .contactForm button {
    margin: 10px 0px;
    width: 100%;
    border-radius: 8px;
    font-size: 12px;
    color: #000000;
    font-weight: 700;
    height: 35px;
  }
  .miePayLogo img{
    height: 40px;
    width: 40px;
    border-radius: 10px;
  }
}
.mobileNav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100vh;
  background-image: radial-gradient(
    circle at center,
    rgba(58, 61, 70, 0.996078431372549) 0%,
    rgba(58, 61, 70, 0.9960808321173228) 0%,
    rgba(47, 48, 55, 0.9975361213419526) 40%,
    rgba(17, 17, 17, 0.9999999999999999) 100%
  );
  z-index: 1050;
  transition: right 0.3s ease-in-out;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
}
.mobileNavItem p{
  color: white;
}
.mobileNav.show {
  right: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1040;
}
.miePayLogo{
  position: fixed;
  right: 20px;
  bottom: 20px;
}


.faq-content{
  margin-top: 85px;
  margin-bottom: 65px;
}
.faq-content h1{

  color: #cfff13;
font-weight:600;
letter-spacing: -1px;
font-size: 52px;
font-family: "HelveticaNowDisplay";
letter-spacing: 0.5px;

}
.faq-content > p{

  font-size: 20px;
color: #ffffff;
font-weight: 300;
margin-bottom: 36px;
font-family: "Montserrat";

}
.faq {
  opacity: 0.9;
border-radius: 34px;
background-color: #0000008d;
padding: 20px 31px !important;
}
.faq-row{
  gap: 34px;
}
.faq h5{
  font-size: 15px;
  font-family: "Montserrat";
color: #cfff13;
font-weight: 700;
}
.faq p{
  font-size: 12px;
color: #ffffff;
font-weight: 300;
font-family: "Montserrat";
}
.faq-s{
  font-size: 44px;
  font-weight: 600;
  font-family: "HelveticaNowDisplay";
letter-spacing: 0.5px;
margin-left: 4px;
}

@media(max-width:700px){
    .faq-content > p{
      font-size:  10px;
    }
    .faq-content h1{
      font-size: 30px;
    }
    .faq-s{
        font-size: 19px !important;
    }
    .faq{
      padding: 10px 21px !important;
      border-radius: 24px;
    }
    .faq h5{
      font-size: 10px;
    }
    .faq p {
      font-size: 8px;
    }
    .faq-content > p{
      margin-bottom: 16px;
    }
    .faq-row{
      gap: 12px;
      margin-bottom: 12px !important;
    }
}
@media(max-width:426px){
  .faq-content > p{
    font-size:  7px;
  }
  .faq-content h1{
    font-size: 25px;
  }
  .faq-s{
      font-size: 14px !important;
  }
  .faq{
    padding: 10px 21px !important;
    border-radius: 20px;
  }
  .faq h5{
    font-size: 7px;
  }
  .faq p {
    font-size: 6px;
  }
 
}
/* footer section */

.footer{
padding: 49px 36px;
 
background-color: #bbfc00;
}
.footer h5{
  font-size: 25px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 24px;
}
.footer-p {
  font-size: 20px !important;
  color: #000000 !important;
  font-weight: 300 !important;
  font-family: "Montserrat" !important;
  margin-bottom: 12px !important;
}

.footer-card{
  padding: 29px 37px !important;
  border-radius: 30px;
background-color: #1f1f1f;
border: 1.87px solid white ;
border-bottom: none;
height: 100%;
}
.footer-card p {
  font-size: 16px;
  line-height: 21px;
color: #ffffff;
font-weight: 300;
font-family: "Montserrat";
}

.user-app-img{
  width: 126px;
height: 97px;

}
.app-store-img , .google-img{
  margin-top: 30px !important;
    width: 90px;
}

.socialMediaDiv img {
  margin-bottom: 20px;
  height: 20px;
  width: 20px;

}
.socialMediaDiv {
  display: flex;
  /* flex-direction: column; */
  gap: 20px;
  left: 36px;
  bottom: 36px;
}
.copyright p{
  margin-top: 24px;
  margin-bottom: 29px;
  font-size: 16px;
}

@media(max-width:1300px){
  .user-app-img{
    width: 40%;
   height: auto;
  }
  .store-images{
    flex-wrap: wrap !important;
    justify-content: center;
  }
  .app-store-img , .google-img{
    margin-top: 5px !important;
  }
  .footer-card{
    padding: 27px 30px !important;
  }
  .footer-card p{
    font-size: 14px;
  }
}
@media(max-width:991px){
  .terms-outer{
     display: flex;
     justify-content: space-between;
  }
  .terms{
    display: flex;
    gap: 15px;
  }
  .footer-p {
    font-size: 16px !important;
    margin-bottom: 12px !important;
  }
  .socialMediaDiv {
    flex-direction: column;
    align-items: end;
    gap: 7px;
    right: 36px;
    bottom: 36px;
  }
}
@media(max-width:890px){
    .footer-card{
      flex-wrap: wrap-reverse;
    }
    .footer-card > div{
      display: flex !important;
      flex-direction: row !important;
      gap: 5%;
    }
     .user-app-img{
    width: 30%;
   height: auto;
  }
  .store-images{
    flex-wrap: wrap !important;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width:720px){
  .footer-card{
    flex-wrap: wrap-reverse;
  }
  .footer-card > div{
    display: flex !important;
    flex-direction: row !important;
    gap: 5%;
  }
   .user-app-img{
  width: 30%;
 height: auto;
}
.store-images{
  flex-wrap: wrap !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer{
  padding: 39px 26px !important;
  }
  .footer-p {
    font-size: 14px !important;
    margin-bottom: 12px !important;
  }
  .footer-card{
    padding: 17px 20px !important;
  }
  .terms{
    display: flex;
    gap: 15px;
  }
  .footer-p {
    font-size: 13px !important;
    margin-bottom: 0px !important;
  }

  .homepage {
    background-image: url("/assets/hero-backround.jpg");
    background-position: 50% 15%;
  }
}
@media(max-width:618px){
  .footer{
    padding: 29px 16px !important;
  }
   .footer-card p {
    font-size: 8px;
    line-height: 10px;
   }

   .socialMediaDiv img {
    margin-bottom: 10px;
    height: 10px;
    width: 10px;
  }
  .socialMediaDiv{
    gap: 4px;
    bottom: 50px;
  }
  .app-store-img , .google-img{
   width: 60%;
   margin-top: 0px !important;
  }
  .terms{
    display: flex;
    gap: 10px;
  }
  footer h5{
    font-size: 13px !important;
  }
  .footer-p {
    font-size: 10px !important;
  }
}  

@media(max-width:426px){
  .footer-p {
    font-size: 6px !important;
    margin-bottom: 12px !important;
  }
  .footer-card{
    padding: 10px 13px !important;
    gap: 9px !important;
    border-radius: 18px;
    
  }
  .footer h5{
      font-size: 15px;
      margin-bottom: 13px;
  }
  .footer-card p {
    font-size: 5px;
    line-height: 6px;
   }
   .socialMediaDiv{
    gap: 10px;
    bottom: 40px;
    
   }
   .socialMediaDiv img {
    margin-bottom: 0px !important;
   }
   .socialMediaDiv a{
      height: 10px;
   }
   .homepage {
    background-image: url("/assets/hero-backround.jpg");
    background-position: 20% 11%;
  }
  .store-images a{
    height: 18px;
  }
}  

/* service page css */





.servicepage{
  padding: 50px 60px;
  padding-bottom: 0 !important;
}
.serviceMain{
  margin-top: 60px;
}
.journey-section{
  margin-bottom: 67px;
}
.journey-section h2{
  font-size: 33px;
letter-spacing: -1px;
color: #cfff13;
font-weight: 600;
margin-bottom: 30px !important;
font-family: "HelveticaNowDisplay";
letter-spacing: 0.5px;
}
.journey-section > p {
  font-size: 17px;
color: #ffffff;
font-weight: 300;
font-family: "Montserrat";
margin-bottom: 33px !important;
}
.book-btn {
  width: 250px;
height: 54px;
border-radius: 36px;
filter: drop-shadow(-6.947px 7.193px 4px rgba(0,0,0,0.86));
background-color: #ceff13;
}
.book-btn p{
  font-size: 20px;
color: #000000;
font-weight: 700;
font-family: "Montserrat";
}

.core-services h1{
  font-size: 33px;
  letter-spacing: -1px;
  color: #cfff13;
  font-weight: 600;
  margin-bottom: 35px;
  font-family: "HelveticaNowDisplay";
  letter-spacing: 0.5px;
}
.service-row{
  padding-left: 33px;
  padding-right: 45px;
}
.curl1{
  rotate: 240deg;
  left: 0;
  bottom: 50%;
}
.curl2{
  top:30;
  right: 9%;
  bottom: 20%;
}
.mobile{
  margin-left: 10%;
}
.shared-ride{
  padding: 20px 24px;
  background-color: #000;
  border-radius: 27px;
  width: 369px !important;
  right: 10%;
  top: 10%;
}
.personal-ride{
  padding: 20px 24px;
  background-color: #000;
  border-radius: 27px;
  width: 369px !important;
  bottom: 4%;
  left: 12%;
}
.elips{
  width: 25px;
height: 25px;
border-radius: 12px;
background-color: #bbfc00;
}
.shared-ride-h{
  font-size: 33px;
  letter-spacing: -1px;
  color: #cfff13;
  font-weight: 600;
 
}
.h-box{
  margin-bottom: 10px;
}
.shared-ride p , .personal-ride p{
  font-size: 13px;
color: #ffffff;
font-weight: 300;
font-family: "Montserrat";
line-height: 17px;
}
.cs-card{
  padding: 21px;
  margin-bottom: 21px;
  box-shadow: -1px -1px 3px 0 white, 1px 1px 0 transparent;
  border-radius: 27px;
  opacity: 0.7;
}
.cs-card h4{
  font-size: 19px;
  letter-spacing: 0px;
  color: #cfff13;
  font-weight: 600;
  margin-bottom: 13px;
  font-family: "HelveticaNowDisplay";
  letter-spacing: 0.5px;
}
.cs-card p{
font-size: 9px;
color: #ffffff;
font-weight: 300;
font-family: "Montserrat";
}


.how-works{
  margin-top: 90px;
  margin-bottom: 75px;
}
.how-works h1{
  font-size: 40px;
letter-spacing: -1px;
color: #cfff13;
font-weight: 600;
margin-bottom: 40px;
font-family: "HelveticaNowDisplay";
letter-spacing: 0.5px;
}

.work-card{
  padding: 21px;
 
  box-shadow: -1px -1px 0px 0 white, 1px 1px 1px 0 rgb(20, 20, 20);
  border-radius: 27px;
  padding-top: 38px;
  padding-left: 51px;
  padding-bottom: 40px;
  padding-right: 51px;
}
.work-card h3{
  margin-bottom: 22px;
  font-size: 33px;
letter-spacing: -1px;
color: #ffffff;
font-weight: 600;
font-family: "HelveticaNowDisplay";
letter-spacing: 0.5px;
}
.work-card .steps{
  gap: 15px;
}
.step-item {
  display: grid;
  grid-template-columns: 185px 1fr; 
  align-items: start;
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 13px;
  font-weight: 700;
}
@media(max-width:1085px){
  .step-item {
    display: grid;
    grid-template-columns: none;
   
  }
}
.p-span {
  font-size: 14px;
  font-weight: 300;
}

.get-started{
  margin-bottom: 150px;
}
.get-started h1{
  font-size: 33px;
letter-spacing: -1px;
color: #cfff13;
font-weight: 600;
font-family: "HelveticaNowDisplay";
letter-spacing: 0.5px;
margin-bottom: 31px;
}
.get-started p{
  font-size: 13px;
color: #ffffff;
font-weight: 300;
font-family: "Montserrat";

}
.get-started-p{
  margin-bottom: 39px;
}

.app-store-img2 , .google-img2{
  margin-bottom: 30px !important;
    width: 90px;
}
